#colored-text {
  color: hsl(348, 100%, 61%)
}

#profile-img {
  width: 15%;
  height: 15%;
  border-radius: 200px;
  margin-bottom: 1%
}

#name-title {
  margin-bottom: 2.2%
}

#line {
  width: 32%;
}

.hero-foot {
  padding: 3% 3% 3% 3% !important;
  margin-bottom: 3% !important;
}

#desperate {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  #profile-img {
    width: 40%;
    height: 40%;
    border-radius: 200px;
    margin-bottom: 1%
  }

  #name-title {
    margin-bottom: 10%
  }

  #line {
    width: 100%;
  }
}